<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.sloy.sevibus"
    android:versionCode="29"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:name=".utils.SeviApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SeviBus" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LineasActivity" >
        </activity>
        <activity android:name=".ui.ParadasActivity" >
        </activity>
        <activity android:name=".ui.ParadaInfoActivity" >
        </activity>
        <activity android:name=".ui.MapaActivity" >
        </activity>
        <activity android:name=".ui.FavoritasActivity" >
        </activity>
        <activity android:name=".ui.AcercadeActivity" />
        <activity android:name=".ui.EditarFavoritaActivity" >
        </activity>
        <activity android:name=".ui.ParadasBusquedaActivity" />
        <activity android:name=".ui.NovedadesActivity" />
    </application>

</manifest>